!!!
%html
  %head
    %title NYPL | #{@data.name}
  %body
    %div(itemscope itemtype="http://schema.org/Library")
      %div(itemprop="department" itemscope itemtype="http://schema.org/Organization")
        %h1(itemprop="name")= @data.name
        %div(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
          %img(src="#{@data.image}" itemprop="contentUrl")
        %div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
          %div(itemprop="streetAddress")= @data.street_address
          %span(itemprop="addressLocality")= @data.locality 
          %span(itemprop="addressRegion")= @data.region
          %span(itemprop="postalCode")= @data.postal_code
          %div(itemprop="telephone")= @data.contacts['phone']
        
        %h2 Hours
        %table
          %thead
            %tr
              %td Day
              %td Hours
              %tbody
                - @data.hours['regular'].each do |day|
                  - if day["open"].nil?
                    %tr
                      %td= day["day"]
                      %td Closed
                  - else
                    %tr
                      %td= day["day"]
                      %td #{day["open"]}-#{day["close"]}


        %h2 About
        %div(itemprop="description")= @data.about

        - if (! @data._embedded["features"].nil?) && @data._embedded["features"].count > 0
          %h2 Features
          %ul
            - @data._embedded["features"].each do |f|
              %li
                - if f['_links'].nil?
                  %h3= f["title"]
                - else
                  %h3
                    %a(href="#{f['_links']['self']['href']}")= f["title"]
                - if ! f["image"].nil?
                  %img(src="#{f['image']}")
                %div= f["body"]

        - if true #! @data._embedded["divisions"].nil?
          %h2 Divisions
          %ul
          - @data._embedded["divisions"].each do |sub|
            %li(itemprop="department" itemscope itemtype="http://schema.org/Organization")
              %div(itemprop="name")= sub["name"]

              

              
