<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" data-ng-app="nypl_locations" data-ng-strict-di lang="en">
  <head>
    <%#= New Relic Snippets %>
    <%if settings.locinator_env == "development" %>
    <%= erb :newrelic_dev %>
    <%elsif settings.locinator_env == "qa" %>
    <%= erb :newrelic_qa %>
    <%elsif settings.locinator_env == "production" %>
    <%= erb :newrelic_prod %>
    <% end %>

    <% if ! settings.env_config["optimizely"].nil? %>
    <script src="<%= settings.env_config["optimizely"] %>"></script>
    <% end %>
    <meta charset="utf-8">
    <title data-ng-bind="'NYPL | ' + $root.title">NYPL |</title>
    <meta name="fragment" content="!" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- OG -->
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="NYPL Locations" />
    <meta property="og:site_name" content="The New York Public Library" />
    <meta property="og:url" content="https://nypl.org/locations" />
    <meta property="og:description" content="The mission of The New York Public Library is to inspire lifelong learning, advance knowledge, and strengthen our communities." />
    <meta property="og:type" content="website" />

    <meta name="keywords" content="NYPL, The New York Public Library, Manhattan, Bronx, Staten Island" />

    <link rel="shortcut icon" type="image/ico" href="//d2znry4lg8s0tq.cloudfront.net/images/favicon.ico">

<% if settings.env_config["angular_src"] == "ux-static-staging" %>
    <link rel="stylesheet" href="//d3rw2mydk59brd.cloudfront.net/nyplbase/0.1.7/css/nyplbase.min.css" type="text/css" media="screen" />
<% else %>
    <link rel="stylesheet" href="//d2znry4lg8s0tq.cloudfront.net/nyplbase/0.1.7/css/nyplbase.min.css" type="text/css" media="screen" />
<% end %>


<% if @rq.forwarded? %>
    <base href="<%= settings.baseurl %>">
    <link rel="stylesheet" href="<%= settings.baseurl %>css/locations.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="<%= settings.baseurl %>css/print.min.css" />
<% else %>
    <base href="/">
    <link rel="stylesheet" href="css/locations.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/print.min.css" type="text/css" />
<% end %>
  </head>
  <body>
    <!--[if lt IE 9]>
      <div class="browser-upgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->

    <div class="visuallyhidden">
        <div>
            <a href="http://lblpac.nypl.org/klasweb/" title="Click to search the Andrew Heiskell Braille and Talking Book Library">Click to search the Andrew Heiskell Braille and Talking Book Library</a> 
            <a href="#main-content">Skip Navigation</a>
        </div>
    </div>

    <!-- Header -->
    <div id="Header-Placeholder">
        <style>
            #Header-Placeholder {
                min-height: 70px;
            }
            @media screen and (min-width: 1024px) {
                #Header-Placeholder {
                    min-height: 230px;
                }
            }
        </style>
        <script type="text/javascript" src="https://<%= settings.refinery_api %>header.nypl.org/dgx-header.min.js" async></script>
    </div>

    <div class="wrapper" id="main-content">
        <!-- Locinator App -->
        <div class="nypl-locations" data-ui-view data-autoscroll="false" scrolltop></div>
    </div>
    
    <!-- Footer -->
    <nypl-footer></nypl-footer>

    <!-- Loading Directive -->
    <div id="loadingWidget" loading-widget>
        <div class="loader-icon icon-spinner2"></div>
    </div>

    <% if !settings.env_config["google_analytics"].nil? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= settings.env_config["google_analytics"] %>', 'shrouded-caverns-5062.herokuapp.com');
    </script>
    <% end %>

    <!--[if lt IE 9]>
    <script src="//d2znry4lg8s0tq.cloudfront.net/es5-shim/es5-shim.min.js"></script>
    <script src="//d2znry4lg8s0tq.cloudfront.net/json3/json3.min.js"></script>
    <![endif]-->
    
<% if !settings.env_config["google_maps"].nil? %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= settings.env_config["google_maps"] %>"></script>
<% end %>

<% if settings.env_config["angular_src"] == "bower" %>
<%= erb :angular_bower %>
<% elsif settings.env_config["angular_src"] == "ux-static-staging" %>
<%= erb :angular_ux_static_staging %>
<% else %>
<%= erb :angular_ux_static %>
<% end %>

    <!-- App Config -->
    <script>
      var locations_cfg = <%= settings.app_cfg %>
    </script>
<% if settings.env_config["app_src"] == "minified" %>
<%= erb :minified_app %>
<% else %>
<%= erb :full_app %>
<% end %>

<% if @rq.url =~ /\/schomburg/ %>
<div id="om-zt8u2nloadaqtdam-holder"></div><script>var zt8u2nloadaqtdam,zt8u2nloadaqtdam_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){zt8u2nloadaqtdam_poll(function(){if(window['om_loaded']){if(!zt8u2nloadaqtdam){zt8u2nloadaqtdam=new OptinMonsterApp();return zt8u2nloadaqtdam.init({u:"12468.277760",staging:0,dev:0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;zt8u2nloadaqtdam=new OptinMonsterApp();zt8u2nloadaqtdam.init({u:"12468.277760",staging:0,dev:0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script>
<% end %>

<% if @rq.url =~ /\/lpa/ %>
<div id="om-lkdksqbgtegcbpny-holder"></div><script>var lkdksqbgtegcbpny,lkdksqbgtegcbpny_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){lkdksqbgtegcbpny_poll(function(){if(window['om_loaded']){if(!lkdksqbgtegcbpny){lkdksqbgtegcbpny=new OptinMonsterApp();return lkdksqbgtegcbpny.init({"u":"12468.442856","staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;lkdksqbgtegcbpny=new OptinMonsterApp();lkdksqbgtegcbpny.init({"u":"12468.442856","staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script>
<% end %>

</body>
</html>
