<% if locals[:loc].has_divisions? %>
<h2>Divisions</h2>
<ul>
<% locals[:loc].divisions.each do |d| %>
  <% if locals[:parent].nil? %>
  <li itemprop="department"><a href="./divisions/<%= d.slug %>"><%= d.name %></a></li>
  <% elsif locals[:parent] == 'div' %>
  <li itemprop="department"><a href="../divisions/<%= locals[:parent_slug] %>/<%= d.slug %>"><%= d.name %></a></li>
  <% end %>
<% end %>
</ul>
<% end %>
