    <ul>
    <% locals[:amenities].keys.each do |cat| %>
      <li>
        <%= cat %>
        <ul>
        <% locals[:amenities][cat].sort{|a,b| (a.rank.nil? ? 100: a.rank)  <=> (b.rank.nil? ? 100 : b.rank) }.each do |a| %>
          <li itemscope itemtype="http://schema.org/Service">
            <a href="<%= (['..'] * locals[:depth]).join('/') %>/amenities/id/<%= a.id %>">
              <span itemprop="name"><%= a.name %></span>
            </a>

            <% if a.info? %>
              <div>
                <a href="<%= a.info.href %>">
                  <% if a.info.name.nil? || a.info.name.empty? %>
                    Learn More
                  <% else %>
                    <%= a.info.name %>
                  <% end %>
                </a>
              </div>
            <% end %>

            <% if a.action? %>
              <div><a href="<%= a.action.href %>"><%= a.action.name %></a></div>
            <% end %>
          </li>

          <% end %>
        </ul>
      </li>
    <% end %>
    </ul>        
