<!doctype html>
<html>
  <head>
    <title>NYPL | <%= @amenity.name %></title>
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="Amenity | <%= @amenity.name %>" />
    <meta property="og:site_name" content="The New York Public Library" />
    <meta property="og:url" content="https://nypl.org/locations" />
    <meta property="og:description" content="The mission of The New York Public Library is to inspire lifelong learning, advance knowledge, and strengthen our communities." />
    <meta property="og:type" content="website" />

    <meta name="keywords" content="NYPL, The New York Public Library, Manhattan, Bronx, Staten Island" />
  </head>
  <body>
    <div itemscope itemtype="http://schema.org/Service">
      <h1 itemprop="name"><%= @amenity.name %></h1>
      <% if @amenity.info? %>
        <div>
          <a href="<%= @amenity.info.href %>">
            <% if @amenity.info.name.nil? || @amenity.info.name.empty? %>
              Learn More
            <% else %>
              <%= @amenity.info.name %>
            <% end %>
          </a>
        </div>
      <% end %>

      <% if @amenity.action? %>
        <div itemprop="potentialAction"><a href="<%= @amenity.action.href %>"><%= @amenity.action.name %></a></div>
      <% end %>

      <ul>
      <% @amenity.locations.each do |loc| %>
        <li itemprop="provider">
          <a href="../../<%= loc.slug %>"><%= loc.name %></a>
        </li>
      <% end %>
      </ul>
    </div>
  </body>
</html>

