<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <div itemprop="streetAddress"><%= locals[:loc].street_address %></div>
  <div>
    <span itemprop="addressLocality"><%= locals[:loc].locality %></span>
    <span itemprop="addressRegion"><%= locals[:loc].region %></span>
    <span itemprop="postalCode"><%= locals[:loc].postal_code %></span>
  </div>
  <% if ! locals[:loc].contacts.nil? %>
  <div itemprop="telephone"><%= locals[:loc].phone %></div>
  <% end %>
</div>
