<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" data-ng-app="nypl_widget">
  <head>
    <meta charset="utf-8">
    <title data-ng-bind="'NYPL | ' + $root.title">NYPL |</title>
    <meta name="fragment" content="!" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico">
<% if settings.env_config["angular_src"] == "ux-static-staging" %>
    <link rel="stylesheet" href="http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/nyplbase/0.1.6/css/nyplbase.min.css">
<% else %>
    <link rel="stylesheet" href="http://ux-static.nypl.org/nyplbase/0.1.6/css/nyplbase.min.css">
<% end %>

<% if @rq.forwarded? %>
    <base href="<%= settings.baseurl %>" target="_parent">
    <link rel="stylesheet" href="<%= settings.baseurl %>css/locations.min.css">
<% else %>
    <base href="/" target="_parent">
    <link rel="stylesheet" href="css/locations.min.css">
<% end %>

  </head>
  <body class="nypl-widget">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class="nypl-widget-wrapper">
      <!-- Locinator App -->
      <div data-ui-view data></div>
    </div>

    <!-- Loading Directive -->
    <div id="loadingWidget" loading-widget>
      <div class="loader-icon icon-spinner2"></div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '<%= settings.env_config["google_analytics"] %>', 'shrouded-caverns-5062.herokuapp.com');
    </script>

    <!--[if lt IE 9]>
    <script src="http://ux-static.nypl.org/es5-shim/es5-shim.min.js"></script>
    <script src="http://ux-static.nypl.org/json3/json3.min.js"></script>
    <![endif]-->

<% if settings.env_config["angular_src"] == "bower" %>
<%= erb :angular_bower %>
<% elsif settings.env_config["angular_src"] == "ux-static-staging" %>
<%= erb :angular_ux_static_staging %>
<% else %>
<%= erb :angular_ux_static %>
<% end %>

    <!-- App Config -->
    <script>
      var locations_cfg = <%= settings.app_cfg %>
    </script>

<% if settings.env_config["app_src"] == "minified" %>
<%= erb :minified_widget %>
<% else %>
<%= erb :full_widget %>
<% end %>

</body>
</html>
